:root {

    /*primary color*/
    --primary-950: #003404;
    --primary-900: #0b5c0d;
    --primary-800: #076d08;
    --primary-700: #008000;
    --primary-600: #00b800;
    --primary-500: #07e500;
    --primary-400: #29fe1d;
    --primary-300: #5fff50;
    --primary-200: #9eff90;
    --primary-100: #ccffc4;
    --primary-50: #e9ffe4;
    

    /*secundary color*/
    --secundary-950: #352315;
    --secundary-900: #5a4029;
    --secundary-800: #684b2b;
    --secundary-700: #7c5b2c;
    --secundary-600: #9a7934;
    --secundary-500: #b4973e;
    --secundary-400: #c3ab4c;
    --secundary-300: #d1c273;
    --secundary-200: #e2dba6;
    --secundary-100: #f0edd1;
    --secundary-50: #f9f8ed;
		

    /*terciary color*/
	--terciary-950: #111c5a;
	--terciary-900: #132b95;
	--terciary-800: #0f2abe;
	--terciary-700: #0a33eb;
	--terciary-600: #2155ff;
	--terciary-500: #286cff;
	--terciary-400: #5095ff;
	--terciary-300: #88bbff;
	--terciary-200: #b9d4ff;
	--terciary-100: #d7e6ff;
	--terciary-50: #edf5ff;
	

    /* Basic color*/
    --white: #fff;
    --black: #000;
    --gray-950: #101010;
    --gray-900: #262626;
    --gray-800: #3B3B3B;
    --gray-700: #515151;
    --gray-600: #676767;
    --gray-500: #7D7D7D;
    --gray-400: #929292;
    --gray-300: #A8A8A8;
    --gray-200: #BEBEBE;
    --gray-100: #D4D4D4;
    --gray-50: #E9E9E9;

	/* Font-family */
	--main-font: Roboto, Noto Sans;
		

    /* Font-size */
    --fs-xxxxl: 8.0rem; /* Ultra grande */
    --fs-xxxl: 6.4rem; /* Súper grande */
    --fs-xxl: 4.8rem; /* Extra grande */
    --fs-xl: 4.0rem;  /* Muy grande */
    --fs-lg: 3.2rem;  /* Grande */
    --fs-md: 2.4rem;  /* Mediano */
    --fs-sm: 2.0rem;  /* Pequeño */
    --fs-xs: 1.6rem;  /* Extra pequeño */
    --fs-xxs: 1.4rem; /* Extra extra pequeño */
    --fs-xxxs: 1.2rem; /* Mínimo */
}