<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
</head>
<body>
    <header>
    <h1 class="navbar__title">
        Mateo López
    <span class="navbar__subtitle">arroz con leche</span>


    </h1>
    
    <div class="navbar__container">
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item"><a href="index.html" class="navbar__link">Inicio</a><li>
                <li class="navbar__item"><a href="clientes.html" class="navbar__link">clientes</a></li>
                <li class="navbar__item"><a href="about.html" class="navbar__link">about</a></li>
                <li class="navbar__item"><a href="contact.html" class="navbar__link">contact</a></li>

            </ul>
        </nav>
    </div>

    
    <p>estoy en clientes</p>
    </header>
    
</body>
</html>